@import '../../scss/index.scss';

.root {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    position: relative;
    z-index: 2;
    font-weight: bolder;
    text-shadow: 0.5rem 1rem rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    @include var-from-queries(
        font-size,
        min-width,
        (
            0px: 1.5rem,
            280px: 2rem,
            360px: 2.5rem,
            393px: 2.5rem,
            540px: 2.5rem,
            768px: 3rem,
            820px: 3rem,
            912px: 4rem,
            1024px: 4rem,
            1280px: 4.5rem,
            1900px: 5rem,
            default: 5rem
        )
    );
}

.radius {
    @include vunit;
    @include position;
    border: 1px solid white;
    --size: calc(100 * var(--unit));
    border-radius: calc(var(--size) / 2);
}

.carrousel {
    pointer-events: all;
    cursor: pointer;
    &:hover {
        animation-play-state: paused;
    }
    @include rotation(orbit);
    @include animation(orbit);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
    @include var-from-queries(
        --size,
        min-width,
        (
            0px: 20px,
            280px: 25px,
            360px: 35px,
            393px: 40px,
            540px: 35px,
            768px: 50px,
            820px: 55px,
            912px: 60px,
            1024px: 50px,
            1280px: 60px,
            1900px: 90px,
            default: 100px
        )
    );
    --center: calc(var(--size) / 2);
    transform-origin: var(--center) var(--center);
    left: calc(50% - var(--center));
    top: calc(50% - var(--center));
    width: var(--size);
    height: var(--size);
}
