.root {
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.presentation {
    width: 100vw;
    height: 100vh;
    position: relative;
    &:not(:last-child) {
        &::before {
            content: '';
            position: absolute;
            left: 25%;
            bottom: 0;
            height: 1px;
            width: 50%;
            background: linear-gradient(to right, transparent, white, transparent) border-box;
            border: 1px solid transparent;
        }
    }
}
