.root {
    pointer-events: all;
    width: auto;
    height: auto;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(50,50,50);
    & * {
        font-size: 5rem;
    }
}