.version {
    position: fixed;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}

.message {
    padding: 0.5rem;
    border-color: black;
    border-style: solid;
    border-width: 1px 0 0 1px;
    border-radius: 0rem 0 0 0.5rem;
    color: white;
    background-color: black;
}

.children {
    z-index: 0;
    position: relative;
    top: 0;
    left: 0;
}

.root {
    position: absolute;
    top: 0;
    left: 0;
}
