* {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
        'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 1rem;
    -webkit-user-select: none;
    user-select: none;
    box-sizing: border-box;
    pointer-events: none;
}

html {
    width: 100%;
    height: 100%;
}

body {
    &::-webkit-scrollbar {
        width: 1rem;
    }
    &::-webkit-scrollbar-thumb {
        background: #888;
        &:hover {
            background: #555;
        }
    }
    &::-webkit-scrollbar-track {
        background: #f1f1f1;
    }
    overflow-x: hidden;
    width: 100%;
    height: auto;
    background-color: rgb(50, 50, 50);
    color: rgb(255, 255, 255);
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
